.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px 20px;
}

.footer-list__social {
    display: flex;
    gap: 6px;
}

.footer-link {
    cursor: pointer;
    width: 46px;
    height: 48px;
}

.footer-link:nth-child(1) {
    background: url("/img/icon-twitter.svg") no-repeat center center;
    background-color: $color-light-blue;
}

.footer-link:nth-child(2) {
    background: url("/img/icon-facebook.svg") no-repeat center center;
    background-color: $color-light-blue;
}

.footer-link:nth-child(3) {
    background: url("/img/icon-youtube.svg") no-repeat center center;
    background-color: $color-light-blue;
}

.footer-link:hover{
    background-color: $color-blue;
}

.footer-title {
    font-size: $font-size_h2-mobile;
}

.footer-text {
    font-size: $font-size_body;
    text-transform: uppercase;
}

.footer-icon__wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-icon {
    background: url("/img/htmlacademy.svg") no-repeat center center;
    width: 27px;
    height: 34px;
}

@media (min-width: $tablet-width) {
    .footer-wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
}