$tablet-width: 768px;
$desctop-width: 1200px;

$color-light-gray: #f2f2f2;
$color-gray: #e5e5e5;
$color-dark-gray: #d5d5d5;
$color-black: #000;
$color-light-black: #333;
$color-white: #fff;
$color-light-blue: #81b3d2;
$color-blue: #669ec0;

$font-size_h2-mobile: 1.3125rem;
$font-size_h2-tablet-desctop: 1.875rem;
$font-size_h3-mobile: 1.125rem;
$font-size_h3-tablet-desctop: 1.3125rem;
$font-size_body: 0.875rem;
$font-size_nav-mobile: 1.125rem;